 <% tools.forEach(tool => { %>
        <div class="grid-item tool">
          <h3><%= tool.name %></h3>
          <a href="<%= tool.ahref %>"> Visit <%= tool.name %>'s page</a>
          <p><%= tool.category_name %></p>
      
         <a href="/tools/<%= tool.id %>">View</a>
          <a href="/tools/edit/<%= tool.id %>">Edit</a>
           <a href="/tools/delete/<%= tool.id %>">Delete</a>
        
          
        </div>
      <% }) %>