 <% tools.forEach(tool => { %>
        <div class="grid-item tool">
          <h3><%= tool.name %></h3>
          <a href="<%= tool.ahref %>"> Visit <%= tool.name %>'s page</a>
          <p><%= tool.category_name %></p>
      
         <a href="/tools/<%= tool.id %>"><i class="fas fa-info-circle"></i></a>
          <a href="/tools/update/<%= tool.id %>"><i class="fas fa-edit"></i></a>
           <a href="/tools/delete/<%= tool.id %>" ><i class="fas fa-trash"></i></a>
        
          
        </div>
      <% }) %>