<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body>

 <%- include('nav') %>

  <main>
    <div class="tool-form-card">
  <h1>Add New Tool</h1>
  <% if (errors && errors.length > 0) { %>
  <ul class="error">
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>
  <form action="/tools/new" method="POST">
    
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Enter tool name" required>

    <label for="url">URL</label>
    <input type="url" id="url" name="url" placeholder="https://example.com">

    <label for="category">Category</label>
   <select name="category" id="category">
  <option value="">Select a category</option>
  <% categories.forEach(cat => { %>
    <option value="<%= cat.id %>"><%= cat.name %></option>
  <% }) %>
</select>

    <button type="submit">Add Tool</button>
  </form>
</div>
  </main>


  
  <footer>
     <%- include('footer') %>
  </footer>

</body>
</html>