<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body>

 <%- include('nav') %>

  <main>
    

    <div class="centered-card">
  <div class="card-content">
    <div>
    <% if (errorMsg) { %>
      <p style="color: #500e0e; margin-top: 5px; font-size: 1rem;"><%= errorMsg %></p>
    <% } %>
      </div>
   <h1><%= category.name %></h1>
    

  </div>
  </div>
  <div class="grid-container">
<%- include('partials/tools', { tools: tools }) %>
  </div>
   

     
     
  </main>


  
  <footer>
     <%- include('footer') %>
  </footer>

</body>
</html>