<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body>

 <%- include('nav') %>

  <main>
    

    <div class="centered-card">
  <div class="card-content">
   <h1><%= category.name %></h1>
   
     <p>hello</p>
              <a href="/categories/<%= category.id %>">View</a>
  </div>
</div>

     
     
  </main>


  
  <footer>
     <%- include('footer') %>
  </footer>

</body>
</html>